*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#e6e6e6;
    color:#333;
}

header{
    background:#0b57d0;
    color:white;
    text-align:center;
    padding:30px 20px;
}

.profile{
    width:140px;
    height:140px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:15px;
}

header h1{
    font-size:38px;
}

header p{
    font-size:18px;
    margin-top:10px;
}

.card{
    width:85%;
    margin:25px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.card h2{
    color:#0b57d0;
    margin-bottom:15px;
}

.skill{
    margin-bottom:20px;
}

.bar{
    width:100%;
    height:15px;
    background:#ddd;
    border-radius:20px;
    margin-top:5px;
}

.html{
    width:95%;
    height:15px;
    background:#0b57d0;
    border-radius:20px;
}

.css{
    width:85%;
    height:15px;
    background:#0b57d0;
    border-radius:20px;
}

.cpp{
    width:75%;
    height:15px;
    background:#0b57d0;
    border-radius:20px;
}

.project{
    border-left:5px solid #0b57d0;
    background:#f7f7f7;
    padding:15px;
    margin-top:15px;
    border-radius:8px;
}

.project h3{
    color:#0b57d0;
    margin-bottom:8px;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

footer{
    background:#0b57d0;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){

.card{
    width:95%;
}

header h1{
    font-size:28px;
}

.profile{
    width:110px;
    height:110px;
}

}